a {
  padding: 5px;
}

.my-app-toast-container {
  padding-bottom: 35px;
}

@media only screen and (max-width: 600px) {
  .my-app-toast-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.my-app-success-toast-message {
  background: #f4fbf7;
  border: 1px solid #00c39e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-app-error-toast-message {
  background: #ffebeb;
  border: 1px solid #eb5757;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-app-info-toast-message {
  background: #f4f6fc;
  border: 1px solid #005fda;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-app-success-toast-message,
.my-app-error-toast-message,
.my-app-info-toast-message > div:last-child {
  font-family: "ABC Whyte";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #1d191f;
}

table.scrollTable {
  border: 1px solid #963;
  width: 718px;
}

thead.fixedHeader {
  display: block;
}

thead.fixedHeader tr {
  height: 30px;
  background: #c96;
}

thead.fixedHeader tr th {
  border-right: 1px solid black;
}

tbody.scrollContent {
  display: block;
  height: 500px;
  overflow: auto;
}

tbody.scrollContent td {
  background: #eee;
  border-right: 1px solid black;
  height: 25px;
}

tbody.scrollContent tr.alternateRow td {
  background: #fff;
}

thead.fixedHeader th {
  width: 233px;
}

thead.fixedHeader th:last-child {
  width: 251px;
}

tbody.scrollContent td {
  width: 233px;
}
