.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0000ff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  height: 30px;
  width: auto;
  margin: 10px;
  border: 1px solid blueviolet;
  border-radius: 10px;
  color: rgb(56, 66, 121);
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}

a {
  padding: 5px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-app-toast-container {
  /* width: 375px; */
  /* max-width: 560px; */
  /* width:375px;
  max-width: 560px; */
  /* min-width: 50%;
  max-width: 100%; */
  padding-bottom: 35px;
}

@media only screen and (max-width: 600px) {
  .my-app-toast-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.my-app-success-toast-message {
  background: #f4fbf7;
  border: 1px solid #00c39e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-app-error-toast-message {
  background: #ffebeb;
  border: 1px solid #eb5757;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-app-info-toast-message {
  background: #f4f6fc;
  border: 1px solid #005fda;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-app-success-toast-message,
.my-app-error-toast-message,
.my-app-info-toast-message > div:last-child {
  font-family: "ABC Whyte";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #1d191f;
}

table.scrollTable {
  border: 1px solid #963;
  width: 718px;
}

thead.fixedHeader {
  display: block;
}

thead.fixedHeader tr {
  height: 30px;
  background: #c96;
}

thead.fixedHeader tr th {
  border-right: 1px solid black;
}

tbody.scrollContent {
  display: block;
  height: 500px;
  overflow: auto;
}

tbody.scrollContent td {
  background: #eee;
  border-right: 1px solid black;
  height: 25px;
}

tbody.scrollContent tr.alternateRow td {
  background: #fff;
}

thead.fixedHeader th {
  width: 233px;
}

thead.fixedHeader th:last-child {
  width: 251px;
}

tbody.scrollContent td {
  width: 233px;
}
